body {
    display: flex;
    align-items: center;
}

.main {
    margin-top: 10vh;
    margin-left: 140px;
    display: flex;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 5vh;
    flex-wrap: wrap;
    height: auto;
}

.frame {
    width: 22%;
    height: 25%;
    flex: auto;
    margin-left: 6vh;
    margin-right: 6vh;
    margin-bottom: 7vh;
    border-radius: 3vh;
    color: white;
    transition: all 0.35s ease;
}

.card {
    text-align: center;
    padding: 1vh;
    background-color: rgb(0, 0, 0);
    border: 1px solid gold;
}

.card:hover {
    background-color: gold;
    transition: all 0.35s ease;
    color: black;
    border: 1px solid black;
}

.frame:hover {
    margin-left: 3vh;
    margin-right: 3vh;
    width: 40vh;
    transition: all 0.35s ease;
}

.card-button {
    text-decoration: none;
    color: gold;
    font-size: 1.5em;
    background-color: black;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    width: 20vh;
    height: 3em;
    text-shadow: 0 1px 2px #0000008a;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}

.card-button:hover {
    background: gold;
    border: 2px solid black;
    color: black;
    padding: 5px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 50;
}

.modal.is-active {
    display: flex;
}

.modal-content,
.modal-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    overflow: auto;
    position: relative;
    border: none;
    background: transparent;
    color: white;
    width: 70%;
    height: 100%;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}

.modal-background {
    background-color: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(6px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.presentation {
    width: 35em;
    height: auto;
}

.modal-body {
    border-left: solid 1px white;
    padding-left: 4%;
}

.cart-frame-image {
    width: 77px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    margin-bottom: 9px;
    background-color: black;
    border-radius: 10px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    text-shadow: 0 1px 2px #0000008a;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

.cart-frame-image:hover {
    background: gold;
    border: 2px solid black;
    color: black;
    padding: 5px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tablepanier {
    position: sticky;
    bottom: 250px;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px gold;
    color: white;
    max-height: 600px;
    max-width: auto;
    display: inline-block;
    overflow-y: scroll;
}

.cart-button {
    text-decoration: none;
    color: gold;
    font-size: 16px;
    background-color: black;
    padding: 1px;
    border: 2px solid transparent;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    width: 10vh;
    height: 2em;
    text-shadow: 0 1px 2px #0000008a;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}

.cart-button:hover {
    background: gold;
    border: 2px solid black;
    color: black;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

th {
    padding: 12px;
    white-space: pre-line;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #212121;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: gold;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: goldenrod;
}

.total-panier {
    position: sticky;
    top: 0;
    z-index: 55;
}