<head>
  <style>
    #historique {
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;

    }

    td,
    th {
      border: 1px solid white;
      padding: 8px;
    }


    #historique th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: black;
      color: white;
    }
  </style>
</head>

<body>
  <div class="historique">
    <h1>Historique des commandes</h1>
  </div>
  <table id="historique">
    <tr>
      <th width="20%">Nom ou numéro table du client</th>
      <th width="15%">Date</th>
      <th width="25%">prix</th>
      <th width="15%">Status</th>
      <th width="25%">Détails</th>
      <th width="25%">Code promo</th>
    </tr>
    <tr *ngFor="let hist of histo let i = index">
      <!--On affiche le numéro de la table ou le nom du client-->
      <th>{{hist[4]}}</th>
      <!--On affiche la date à laquelle la commande à été passé -->
      <th>{{hist[1]}}</th>
      <!--On affiche le prix totale de la commande-->
      <th>{{hist[0]}} €</th>
      <!--On affiche le status de la commande -->
      <th>Paid</th>
      <!--On affiche la liste de toutes les boxs de la commandes -->
      <th>{{hist[2]}}</th>
      <!--On affiche le code promotionnel renseigné lors de la commande -->
      <th>{{hist[3]}}</th>
    </tr>
  </table>
  <button class="card-button" (click)="deleteHistorique()">Supprimer l'historique</button>
</body>