.footer {
    width: 100%;
    padding: 1%;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.7);
    text-decoration: none;
    backdrop-filter: blur(6px);
    color: white;
}

.footer-link {
    text-decoration: none;
    color: gold;
    transition: color 0.3s ease 0s;
}

.footer-link:hover {
    color: white;
}

.footer-link:after {
    color: white;
}