<link rel="icon" type="image/png" sizes="100x100"
    href="https://cdn.discordapp.com/attachments/917717231801098260/917761547080704100/SF_logo_100_100_20.png">
<div class="entire-head">
    <header>
        <a [routerLink]="['']"><img
                src="https://cdn.discordapp.com/attachments/917717231801098260/943143711330668564/blueshifast.png"
                class="logo-site"></a>
        <nav>
            <ul class="nav-links">
                <li><a [routerLink]="['']">Accueil</a></li>
                <li><a [routerLink]="['/boxes']">Menu</a></li>
                <li><a [routerLink]="['/historique']">Historique</a></li>
            </ul>
        </nav>
    </header>
</div>