<div class="rgpd">
    <h1>Responsables du traitement</h1>
    <p>
        Entrepreneurs : Guillot Bryan et Midey Yannick <br />
        Nom de la société : SushiFast <br />
        Forme juridique : SAS <br />
        Numéro de SIRET : 235 532 753. <br />
        Adresse du siège social : 2Bis Rue Edouard Branly, 77000 Melun. <br />
        Directeur de publication : Yannick MIDEY. <br />
    </p>

    <h1>Coordonnées de l'hebergeur</h1>
    <p>
        Nom de l'hebergeur : Guillot Bryan <br />
        Adresse : 2Bis Rue Edouard Branly, 77000 Melun.<br />
        Adresse email : Guillot.B@sushifast.fr<br />
        Tel : 06 37 53 43 52
    </p>

    <h1>Mentions relatives à l’utilisation des données personnelles</h1>
    <p>
        Coordonnées du délégué à la protection des données (DPO) : Bryan Guillot
    </p>
    <h1>Qui sont les destinataires des données</h1>
    <p>
        Toutes données collectées sont communiquées uniquement à SushiFast
    </p>
    <h1>Pour quelle raison collectons-nous vos données personnelles ?</h1>
    <p>
        Nous collectons vos données personnelles afin de pouvoir proposer notre service. Plus précisément, les
        données collectées permettent
        à notre opérateur à votre nom de passer une commande,de modifier les commandes en cours ainsi que de
        supprimer vos commandes en cours.
    </p>
    <h1>Combien de temps ces informations sont-elles conservées ?</h1>
    <p>
        Les données personnelles que vous avez renseignées sont généralement stockées en base active pendant toute
        la
        durée d’utilisation de nos services.
    </p>
    <h1>Vos droits sur vos données</h1>
    <p>Vous avez un droit d'opposition à leur communication, un droit d'accès, d'interrogation et de rectification,
        un droit suppression et un droit d'introduire de réclamation
        Pour toutes demandes sur vos données collectées, vous pouvez contacter le support via l'adresse email
        suivante : support@sushifast.fr </p>
</div>