<body>
    <div class="rgpd">
        <h1>Responsables</h1>
        <p>
            Entrepreneurs : Lucas Pisano et Alexander Alleaume <br /> Nom de la société : SushiFast <br /> Status : SARL<br /> Localisation : 3 rue des potiers <br /> Numéro SIRET : 239.127.319 <br />
        </p>

        <h1>Coordonnées hébergeur</h1>
        <p>
            Sushifast.ruedepotiers@gmail.com<br /> Tel : 07 97 59 98 64
        </p>

        <h1>Délégué à la protection des données personnelles</h1>
        <p>
            DPO : Alexander Alleaume
        </p>
        <h4>Qui est destinataire des données</h4>
        <p>
            Toutes données collectées sont communiquées avec des applications tiers tel que UBER EAT, Deliveroo ainsi que Just Eat.
        </p>
        <h4>Pourquoi nous les collectons et sur qu’elle durée</h4>
        <p id="end">
            Nous collectons ces données afin de pouvoir proposer notre service. Plus précisément, permettre à l’utilisateur de passer commande, modifier la commande en cours ainsi que supprimer cette commande. Une fois que l'exercice comptable actuel est terminé,
            les données collectées sont supprimées. Vous avez un droit d’opposition à leur communication, droit d’accès, d’interrogation et de rectification, droit de suppression et droit d’introduire de réclamation. (Concernant toute donnée collectée
            en contactant le support via sushifast.support@gmail.com)
        </p>
    </div>
</body>